#Ignore all .o & .out files
**/*.o
**/*.out
**/*.class

#Ignore ctags file
tags

#Ignore test folder wherever present
**/test/

#Ignore build folder
**/build/

#Ignore vscode folder
**/.vscode/

#Ignore the jupyter lab checkpoint files
**/*.ipynb_checkpoints/
